<div>
    <div class="jumbotron text-center w-75 m-auto p-0">
        <h1 class="display-3">Welcome to Eat Da Burger Joint</h1>
        <p class="lead">Creat your Own burger or Devour one of ours </p>
        {{!--
        <hr class="my-2">
        <p class="lead p-3">
            <a class="btn btn-primary btn-lg" href="/survey" role="button">Take Survey</a>
        </p> --}}
    </div>

    <div class="container text-center p-5">
        <a href="/api/burgers" class="badge badge-dark">API</a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>